@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.albert-sans {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-langitmalam {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  /* background: linear-gradient(to bottom, #0A192F, #1D2951); */
  /* background: linear-gradient(to top, #191970, #483D8B); */
  /* background: radial-gradient(circle at center, #0B0C1E 0%, #000033 100%); */
}

.bg-gambar {
  background-image: url("/op1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-shadow-soft {
  text-shadow:
    0 2px 6px rgba(0, 0, 0, 0.45),
    0 6px 16px rgba(0, 0, 0, 0.35);
}

:-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #BE185D;
  /* blue-500 */
  border-radius: 10px;
}